body{
            background:#212529;
            height:100vh;
            display:flex;
            justify-content:center;
            align-items:center;
        }

        .login-card{
            width:100%;
            max-width:420px;
            border-radius:15px;
            box-shadow:0 10px 30px rgba(0,0,0,.3);
        }

        .logo{
            font-size:60px;
            color:#0d6efd;
        }

.sidebar{

    width:260px;
    min-height:100vh;

    position:fixed;
    top:0;
    left:0;

    overflow-y:auto;

}

.sidebar .nav-link{

    padding:15px 25px;
    transition:.3s;

}

.sidebar .nav-link:hover{

    background:#343a40;
    padding-left:35px;

}

.main-content{

    margin-left:260px;
    padding:30px;

}